html 
{
  background: #f0eff0;
}

.App 
{
  background: #f0eff0;
}

.header
{
  width: 100%;
}

.header__title
{
  text-align: center;
  font-size: 2rem;
}

.button
{
  margin-right: 0.5rem;
  border: none;
  cursor: pointer;
  background: #ffffff;
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  color: #4d4d4d;
}

.text-input
{
  margin: 0;
  border: none;
  white-space: pre-line;
  word-break: break-all;
  transition: color 0.4s;
  border-bottom: 1px solid #ededed;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  background: #f0eff0;
}

.add-form
{
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 2em;
}

.add-form__text-input
{
  width: 100%;
  flex: 10;
  background: #ffffff;
  padding: 0.75rem;
  line-height: 1.2rem;
  font-size: 1.2rem;
}

.add-form__submit
{
  flex: 1;
  background: #d6d6d6;
}

.list-container
{
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px;
}

.list-container__list-item
{
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
}

.list-item__info
{
  font-size: 1.1rem;
  font-weight: 500;
}

.list-item__buttons
{
  float: right;
}

.button
{

}

.completed
{
  text-decoration: line-through;
}

